.authContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/login-bg.jpg");
  background-size: cover;
  background-position: center;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
}
